html, body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #C0C0C0;
	text-align: center;
  margin: 0;
  padding: 0;
  }

.container {
	width: 100%;
	height: 4rem;
  overflow: auto;
	background-color: #FFFFFF;
	color: #000000;
}

.academy,
.colmar,
#logo {
  height: 4rem;
  float: left;
}

#logo {
	margin-left: 1.5rem;
	}

.academy,
.colmar {
  font-size: 2rem;
	text-transform: uppercase;
}

.academy {
  color: #C0C0C0;
}

	nav {
    display: flex;
    align-items: center;
  	justify-content: space-between;
    padding: 1rem 0;

	}

nav ul {
	margin-right: 1rem;
	}


nav li {
  display: inline;
  padding: 0 1rem;
	}

/* small screen menu*/
.truncated-menu {
  display: none;
	}

.banner {
 display: flex;
 align-items: center;
 text-align: center;
 	}

.banner img {
 width: 60%;
 height: 50%;
 margin-top: 2rem;
 margin-bottom: 2rem;
 margin-right: 1.5rem;
 margin-left: 1.5rem;
}

.headline h1 {
 font-weight: Work Sans 800, sans-serif;
 font-size: 3.5rem;
	}

.headline h3 {
	font-weight: normal;
	font-size: 2rem;
}

.banner .btn {
 background-color: firebrick;
 color: white;
 border-radius: .5rem;
 padding: .5rem;
 height: 3rem;
 width: 10rem;
 font-size: 1rem;
 line-height: 1.33;
}

.banner .btn:hover {
	background-color: red;
}
.banner .btn:active{
	background-color: orange;
}
.banner .btn:visited {
	background-color: firebrick;
	color: darkblue;
}

/*info*/
.info-subcontainer {
display: flex;
background-color: #dadada;
margin: 0%;
padding: 0%;
}

.large-column,
.large-column2 {
	width: 60%;
  margin-bottom: 1.5rem;
	}

.large-column img,
.large-column2 video {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1.5rem;
}

.large-column h1,
.large-column2 h1 {
	font-weight: Work Sans 800;
}

.large-column p:last-child {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.small-column,
.small-column2 {
 width: 40%;
 margin-top: 2rem;
 margin-bottom: 2rem;
 margin-left: 1.5rem;
 }

.orientation,
.campus,
.lecturer,
.fisma,
.new-york {
 width: 100%;
 display: flex;
 margin-left: 1.5rem;
}

.lecturer,
.fisma {
 background-color: #C0C0C0;
}

.small-column img,
.small-column2 img {
 height: auto;
 margin: 1rem;
 width: 50%;
}

.orientation-content,
.campus-content,
.lecturer-content,
.fisma-content,
.new-york-content {
 width: 65%;
 justify-content: center;
}

.orientation-content h1, h2,
.campus-content h1, h2,
.lecturer-content h1, h2,
.fisma-content h1, h2,
.new-york-content h1, h2 {
 padding: .5rem;
}

.orientation-content a:visited,
.campus-content a:visited,
.lecturer-content a:visited {
	color: darkblue;
}

/*course offer in grid format*/
.courses-subcontainer {
  background-color: #e6e6e6;
  padding: 0%;
  margin: 0%;
  font-weight: normal;
}

.courses-subcontainer h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 40rem 40rem 40rem;
  grid-gap: 2rem;
  text-align: center;
  justify-content: center;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  }

.wrapper img {
  width: 100%;
  height: auto;
}

.box h2 {
  font-weight: Work Sans 800;
  margin-top: 1rem;
}

.box h4 {
  font-weight: Work Sans 400;
  text-transform: capitalize;
  padding: 0.5rem;
}

.box {
  background-color: #FFFF;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.truncated-course-offer {
  display: none;
}

.exhibit-subcontainer {
background-color: #dadada;
}

.exhibits {
  display: flex;
}

.truncated-thesis {
  display: none;
}

/*Footer*/
.footer-container {
  display: flex;
  background-color: #e6e6e6;
  align-items: center;
}

.footer-container p {
  align-items: center;
	margin-left: 1.5rem;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-menu ul {
margin-right: 1rem;
}


.footer-menu li {
display: inline;
padding: 0 1rem;
}

/*media queries*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* ruleset fir >480px */
  .container, .courses-subcontainer, .large-column, .exhibit-subcontainer {
    display: none;
  }

  .truncated-menu {
 width: 100%;
 height: 4rem;
 display: flex;
 margin-left: 1.5rem;
 justify-content: space-between;
 align-items: center;}
  }

  .banner {
  display: column;
  }
