html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: hsl(0, 0%, 66%);
	text-align: center;
  }

body {
		margin: 0;
}

.container {
	width: 100%;
	height: 4rem;
	background-color: #FFFFFF;
	color: #000000;
	align-items: center;
}

.container img {
	height: 4rem;
	margin-left: 1.5rem;
	}

.container span {
  font-size: 2rem;
	text-transform: uppercase;
}

	nav {
	display: flex;
  align-items: center;
	justify-content: space-between;
  padding: 1rem 0;

	}

nav ul {
	margin-right: 1rem;
	}


nav li {
  display: inline;
  padding: 0 1rem;
	}

/* small screen menu*/
.truncated-menu {
  display: none;
	}

.banner {
 display: flex;
 align-items: center;
 text-align: center;
 	}

.banner img {
width: 60%;
height: 50%;
margin-top: 2rem;
margin-bottom: 2rem;
margin-right: 1.5rem;
margin-left: 1.5rem;
}

.headline h1 {
font-weight: Work Sans 800, sans-serif;
font-size: 3.5rem;
	}

.headline h3 {
	font-weight: normal;
	font-size: 2rem;
}

.banner .btn {
 background-color: firebrick;
 color: white;
  border-radius: .5rem;
	padding: .5rem;
	height: 3rem;
	width: 10rem;
 font-size: 1rem;
line-height: 1.33;
}

.banner .btn:hover {
	background-color: red;
}
.banner .btn:active{
	background-color: orange;
}
.banner .btn:visited {
	background-color: firebrick;
	color: darkblue;
}

/*info*/
.info {
	display: flex;
	flex-wrap: nowrap;
	background-color: hsl(96, 0%, 88%);
}

.large-column {
	width: 60%;
	}

.large-column img {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

.large-column h1 {
	font-weight: Work Sans 800;
}

.large-column p:last-child {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.small-column {
	width: 40%;
	margin-top: 2rem;
margin-bottom: 2rem;
 }

.orientation
.campus
.lecturer {
width: 100%;
display: flex;

margin-right: 1.5rem;
margin-left: 1.5rem;
}

.small-column img {
height: auto;
padding: 1rem;
width: 50%;
}

.orientation-content
.campus-content
.lecturer-content {
width: 65%;
}

.orientation-content h1, h2
.campus-content h1, h2
.lecturer-content h1, h2 {
padding: .5rem;
}

.orientation-content a:visited
.campus-content a:visited
.lecturer-content a:visited {
	color: darkblue;
}
