html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: hsl(0, 0%, 66%);
	text-align: center;
	  }

.container {
	width: 100%;
	height: 4rem;
	background-color: #FFFFFF;
	color: #000000;
	align-items: center;
}

.container img {
	height: 4rem;
	margin-left: 1.5rem;
		}


	nav {
	display: flex;
  align-items: center;
	justify-content: space-between;
  padding: 1rem 0;

	}


.container span {
  font-size: 2rem;
	}


.container li {
  display: inline;
  padding: 0 1rem;
	}


nav ul {
	margin-right: 1rem;
	}


nav li {
  display: inline;
  padding: 0 1rem;
	}

/* small screen menu*/
.truncated-menu {
  display: none;
	}

.banner {
 display: flex;
 justify-content: center;
	}


.banner img {
width: 60%;
height: 50%;
margin-top: 2rem;
margin-bottom: 2rem;
margin-right: 1.5rem;
margin-left: 1.5rem;
}

.headline h1 {
font-weight: bold;
	}

.banner .btn {
 background-color: firebrick;
 color: white;
  border-radius: .5rem;
	padding: .5rem;
	height: 3rem;
	width: 6rem;
 font-size: 1rem;
line-height: 1.33;
}

.banner .btn:hover {
	background-color: red;
}
.banner .btn:active{
	background-color: orange;
}
.banner .btn:visited {
	background-color: firebrick;
	color: darkblue;
}
